/* Box model */

header {
    border: 1px solid red;
    /* Cria uma borda em volta do elemento */

    padding: 60px;
    /* padding cria uma espécie de espaçamento (preenchimento) entre o próprio elemento e os outros */
}

h1 {
    border: 1px solid green;

    height: 68px;

    display: inline;
    /* Diferente o display: block (em bloco), o display inline vai fazer com que o elemento inteiro só ocupe a parte que realmente ele está sendo visualizada, ou seja, onde tem algo escrito */
}

p {
    margin: 20px;

    border: 1px solid purple;

    display: inline
}

span {
    border: 1px solid pink;

    display: block /* Block faz com que o elemento tenha seu próprio bloco, fazendo com que outros não consigam ficar do seu lado */
}

/* Todos os elementos possuem seus displays padrão, o span por exemplo possui o display padrão inline */