/* Castata e especifidade */

/* O ID tem peso 100 */

#unico-1 {
    color: blue;
}

/* A classe tem peso 10 */

.Qualquer {
    color: green;
}

/* O elemento tem peso 1 */
p {
    color: green;
}

p {
    color: red;
}